# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    branches:
      - master
      - development

jobs:
  test:
    name: start on node ${{ matrix.node_version }} in ${{ matrix.os }}, lint and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["14.18"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}      
      - name: start docker
        run: docker-compose up
